{% extends "partials/base.html" %}
{% load static %}
{% block content %}
    <main class="main">
        <div class="container">
            <div class="breadcrumb">
                <a href="{% url 'core:index' %}" rel="nofollow">
                    <i class="fi-rs-home mr-5"></i>home
                </a>
                <span></span> SHOP
                <span></span> Cart
            </div>
        </div>
        <div class="container mb-80 mt-50">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8 mb-40">
                    <h1 class="heading-2 mb-10">Your Cart</h1>
                    <div class="d-flex justify-content-between">
                        <h6 class="text-body">There are <span class="test-brand" style="color: black">{{ totalcartitems }} </span>products in your cart</h6>
                        <button class="btn clear-all mt-0"><i style="color: black;" class="fi-rs-trash mr-5"></i>Clear Cart</button>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="table-responsive shopping-summery" style="border-radius: 10px">
                        <table class="table table-wishlist">
                            <thead>
                                <tr class="main-heading" >
                                    <th scope="col" class="text-center" style="background-color: #229799; color: white;">Product</th>
                                    <th scope="col" class="text-center" style="background-color: #229799; color: white;">Name</th>
                                    <th scope="col" class="text-center" style="background-color: #229799; color: white;">Unit Price</th>
                                    <th scope="col" class="text-center"style="background-color: #229799; color: white;">Quantity</th>
                                    <th scope="col" class="text-center" style="background-color: #229799; color: white;">Subtotal</th>
                                    <th scope="col" class="text-center" style="background-color: #229799; color: white;" >Refresh</th>
                                    <th scope="col" class="text-center" style="background-color: #229799; color: white;">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product_id, item in cart_data.items %}
                                {% csrf_token %}
                                <tr class="pt-30">
                                    <td class="image product-thumbnail d-flex justify-content-center align-items-center">
                                        <img class="" src="{{ item.image }}" alt="">
                                    </td>
                                    <td class="product-des product-name">
                                        <h4 class="mb-5 text-center">
                                            <a class="product-name mb-10 text-heading" href="{% url 'core:product-detail' item.pid %}">{{ item.title }}</a>
                                        </h4>
                                    </td>
                                    <td class="price" data-title="price">
                                        <h4 class="text-body text-center">{{ item.price }}$</h4>
                                    </td>
                                    <td class="text-center detail-info" data-title="Stock">
                                        <input style="border: 3px solid #229799; color: #229799" value="{{ item.qty }}" type="number" class="qty-input qty-product w-25 fs-5 fw-bolder" data-product="{{ product_id }}">
                                    </td>
                                    <td class="price" data-title="Price">
                                        <h4 class="text-brand text-center">{% widthratio item.price 1 item.qty %}$</h4>
                                    </td>
                                    <td class="action text-center" data-title="Refresh">
                                        <button type="button" class="refresh-product btn btn-sm" id="refresh-product" data-product="{{ product_id }}">
                                            <i class="fi-rs-refresh"></i>
                                        </button>
                                    </td>
                                    <td class="action text-center" data-title="Remove">
                                        <button type="button" class="delete-product btn btn-sm" data-product="{{ product_id }}">
                                            <i class="fi-rs-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="divider-2 mb-30"></div>
                    <div class="cart-action d-flex justify-content-between">
                        <a class="btn" href=" {% url 'core:products' %}"><i class="fi-rs-arrow-left mr-10"></i>Continue shopping</a>
                        <a href="#" class="btn mr-10 mb-sm-15"><i class="fi-rs-refresh mr-10"></i>Update cart</a>
                    </div>
                    <div class="row mt-50">
                        <div class="col-lg-7">
                            <div class="cart-action d-flex justify-content-between">
                                <div class"calculate-shipping p-40 border-radius-15 border">
                                    <h4 class="mb-10">Calculate Shipping</h4>
                                    <p class="mb-30"><span class="font-lg text-muted">Flat rate: </span><Strong class="text-brand">{{ cart_total_amount }}$</Strong></Strong></p>
                                </div>
                                <a href="{% url 'core:checkout' %}" class="btn fs-4 h-25">Checkout <i class="fi-rs-arrow-right ml-10 mr-10 "></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock  %}