{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <main class="main">
        <div class="container mb-30">
            <div class="row flex-row-reverse">
                <div class="col-lg-4-5">
                    <section class="home-slider position-relative mb-30">
                        <div class="home-slide-cover mt-30">
                            <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                                <div class="single-hero-slider single-animation-wrap" style="background-image: url({% static 'assets/imgs/slider/slider-1.png' %})">
                                    <div class="slider-content">
                                        <h1 class="display-2 mb-40">
                                            Don’t miss amazing<br /> grocery deals
                                        </h1>
                                        <p class="mb-65">Sign up for the daily newsletter</p>
                                        <form class="form-subcriber d-flex">
                                            <input type="email" placeholder="Your emaill address" />
                                            <button class="btn" type="submit">Subscribe</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="single-hero-slider single-animation-wrap" style="background-image: url({% static 'assets/imgs/slider/slider-2.png' %})">
                                    <div class="slider-content">
                                        <h1 class="display-2 mb-40">
                                            Fresh Vegetables<br /> Big discount
                                        </h1>
                                        <p class="mb-65">Save up to 50% off on your first order</p>
                                        <form class="form-subcriber d-flex">
                                            <input type="email" placeholder="Your emaill address" />
                                            <button class="btn" type="submit">Subscribe</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-arrow hero-slider-1-arrow"></div>
                        </div>
                    </section>
                    <!--End hero-->
                    
                    <!-- product section --> 
                    {% include "core/product.html" %}
                    <!--end of product section-->

                    
                    <section class="banners">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="banner-img">
                                    <img src="{% static 'assets/imgs/banner/banner-1.png' %}" alt="" />
                                    <div class="banner-text">
                                        <h4>
                                            Everyday Fresh & <br />Clean with Our<br /> Products
                                        </h4>
                                        <a href="{% url 'core:products' %}" class="btn btn-xs">Shop Now <i class="fi-rs-arrow-small-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="banner-img">
                                    <img src="{% static 'assets/imgs/banner/banner-2.png' %}" alt="" />
                                    <div class="banner-text">
                                        <h4>
                                            Make your Breakfast<br /> Healthy and Easy
                                        </h4>
                                        <a href="{% url 'core:products' %}" class="btn btn-xs">Shop Now <i class="fi-rs-arrow-small-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 d-md-none d-lg-flex">
                                <div class="banner-img mb-sm-0">
                                    <img src="{% static 'assets/imgs/banner/banner-3.png' %}" alt="" />
                                    <div class="banner-text">
                                        <h4>The best Organic <br />Products Online</h4>
                                        <a href="{% url 'core:products' %}" class="btn btn-xs">Shop Now <i class="fi-rs-arrow-small-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--End banners-->
                </div>
                <div class="col-lg-1-5 primary-sidebar sticky-sidebar pt-30">
                    <div class="sidebar-widget widget-category-2 mb-30">
                        <h4 class="section-title style-1 mb-30">Vendors</h4>
                        <ul style="width: 100%;">
                            {% for vendor in vendors %}
                            <li style="width: 100%; display: flex; align-items: center; padding: 5px;" class="text-center">
                                <a href="{% url 'core:vendor-products' vendor.vendor_id %}">
                                    <img style="border-radius: 50%;" src="{{ vendor.image.url }}" alt="" />
                                    <h6>
                                        {{ vendor.title }}
                                    </h6>
                                </a><span class="count">{{ vendor.products.count }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>


                    <div class="list-group">
                        <form action="{% url 'core:filter' %}" method="post" class="form_price">
                            <h3 class="fw-500">filter by price</h3>
                            {% csrf_token %}
                            <div class="form-group mb-0">
                                <div class="input-group">
                                    <!-- Slider for Min Price -->
                                    <input type="range" id="min_price_slider" name="min_price_range" min="0" max="100" value="0" class="form-control-range" oninput="updateMinPrice(this.value)">
                                    <!-- Slider for Max Price -->
                                    <input type="range" id="max_price_slider" name="max_price_range" min="0" max="100" value="100" class="form-control-range" oninput="updateMaxPrice(this.value)">
                                </div>
                                <div class="input-group">
                                    <input type="text" name="min_price" class="form-control" id="min_price" value="0" placeholder="MIN">
                                    <input type="text" name="max_price" class="form-control" id="max_price" value="100" placeholder="MAX">
                                </div>
                            </div>
                            <button class="btn btn-sm btn-default" type="submit">Filter</button>
                        </form>
                    </div>
                    <script>
                        function updateMinPrice(value) {
                            document.getElementById("min_price").value = value;
                        }
                        function updateMaxPrice(value) {
                            document.getElementById("max_price").value = value;
                        }
                    </script>

                    
            </div>
        </div>

        <!--Categorie Details-->
        <section class="popular-categories section-padding">
            <div class="container">
                <div class="section-title">
                    <div class="title">
                        <h3>Shop by Categories</h3>
                        <a class="show-all" href="shop-grid-right.html">
                        </a>
                    </div>
                    <div class="slider-arrow slider-arrow-2 flex-right carausel-8-columns-arrow" id="carausel-8-columns-arrows"></div>
                </div>
                <div class="carausel-8-columns-cover position-relative">
                    <div class="carausel-8-columns" id="carausel-8-columns">
                        {% for category in categories %}
                        <div class="card-1">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="{% url 'core:category-products' category.category_id %}"><img style="height: 100px; width: 100px; border-bottom-left-radius: 50%; border-bottom-right-radius: 50%;" src="{{ category.image.url }}" alt="" /></a>
                            </figure>
                            <h6>
                                <a href="{% url 'core:category-products' category.category_id %}">{{ category.title }}</a>
                            </h6>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <!--End category slider-->
        <section class="section-padding mb-30">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6 mb-sm-5 mb-md-0">
                        <h4 class="section-title style-1 mb-30 animated animated">Top Selling</h4>
                        <div class="product-list-small animated animated">
                            <article class="row align-items-center hover-up">
                                {% for p in top_selling %}
                                <figure class="col-md-4 mb-0">
                                    <a href="{% url 'core:product-detail' p.product_id %}"><img style="height: 120px; width: 120px;" src="{{ p.image.url }}" alt="" /></a>
                                </figure>
                                <div class="col-md-8 mb-0">
                                    <h6>
                                        <a href="{% url 'core:product-detail' p.product_id %}">{{ p.title }}</a>
                                    </h6>
                                    <div class="product-rate-cover">
                                        <div class="">
                                            <h5 style="width: 90%; height: 100%; color: gold;">{{p.vendor.get_rating_display}}</h5>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        <span>{{ p.price }}$</span>
                                        <span class="old-price">{{ p.old_price }}$</span>
                                    </div>
                                </div>
                                {% endfor %}
                            </article>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 mb-md-0">
                        <h4 class="section-title style-1 mb-30 animated animated">Trending Products</h4>
                        <div class="product-list-small animated animated">
                            <article class="row align-items-center hover-up">
                                {% for p in trendig_products %}
                                <figure class="col-md-4 mb-0">
                                    <a href="{% url 'core:product-detail' p.product_id %}"><img style="height: 120px; width: 120px;" src="{{ p.image.url }}" alt="" /></a>
                                </figure>
                                <div class="col-md-8 mb-0">
                                    <h6>
                                        <a href="{% url 'core:product-detail' p.product_id %}">{{ p.title }}</a>
                                    </h6>
                                    <div class="product-rate-cover">
                                        <div class="">
                                            <h5 style="width: 90%; height: 100%; color: gold;">{{p.vendor.get_rating_display}}</h5>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        <span>{{ p.price }}$</span>
                                        <span class="old-price">{{ p.old_price }}$</span>
                                    </div>
                                </div>
                                {% endfor %}
                            </article>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 mb-sm-5 mb-md-0 d-none d-lg-block">
                        <h4 class="section-title style-1 mb-30 animated animated">Recently added</h4>
                        <div class="product-list-small animated animated">
                            <article class="row align-items-center hover-up">
                                {% for p in recently_added %}
                                <figure class="col-md-4 mb-0">
                                    <a href="{% url 'core:product-detail' p.product_id %}"><img style="height: 120px; width: 120px;" src="{{ p.image.url }}" alt="" /></a>
                                </figure>
                                <div class="col-md-8 mb-0">
                                    <h6>
                                        <a href="{% url 'core:product-detail' p.product_id %}">{{ p.title }}</a>
                                    </h6>
                                    <div class="product-rate-cover">
                                        <div class="">
                                            <h5 style="width: 90%; height: 100%; color: gold;">{{p.vendor.get_rating_display}}</h5>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        <span>{{ p.price }}$</span>
                                        <span class="old-price">{{ p.old_price }}$</span>
                                    </div>
                                </div>
                                {% endfor %}
                            </article>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 mb-sm-5 mb-md-0 d-none d-xl-block">
                        <h4 class="section-title style-1 mb-30 animated animated">Top Rated</h4>
                        <div class="product-list-small animated animated">
                            <article class="row align-items-center hover-up">
                                {% for p in top_rated %}
                                <figure class="col-md-4 mb-0">
                                    <a href="{% url 'core:product-detail' p.product_id %}"><img style="height: 120px; width: 120px;" src="{{ p.image.url }}" alt="" /></a>
                                </figure>
                                <div class="col-md-8 mb-0">
                                    <h6>
                                        <a href="{% url 'core:product-detail' p.product_id %}">{{ p.title }}</a>
                                    </h6>
                                    <div class="product-rate-cover">
                                        <div class="">
                                            <h5 style="width: 90%; height: 100%; color: gold;">{{p.vendor.get_rating_display}}</h5>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        <span>{{ p.price }}$</span>
                                        <span class="old-price">{{ p.old_price }}$</span>
                                    </div>
                                </div>
                                {% endfor %}
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End 4 columns-->
    </main>
{% endblock content %}